{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/checkout.css' %}">
<script src='{% static "js/checkout.js" %}'></script>
{% endblock %}

{% block content %}


<div id='main-cont'>
  <div class='row text-center'>



    <div class='col-12 col-md-6'>

      <div class='checkout-info'>

        <div class='checkout-row'>
          <div class='checkout-header-title'>
        <h4>Information</h4>
        </div>
        <div class='checkout-header-edit-btn' id='info-edit-btn'>
          Edit
          </div>
        </div>




        {% if billing_profile %}
        <div id='info-display'>
        <div class='checkout-row'>
          <div class='checkout-item-title'>
            {{ billing_profile.email }}
          </div>
        </div>
        <div class='checkout-row' id='info-display'>
          <div class='checkout-item-title'>
            {{ billing_profile.email }}
          </div>
        </div>
        </div>
        {% endif %}

        <div id='info-forms' style='width:100%;display:{% if billing_profile %}none{% else %}table{% endif %}'>

          <div class='col-12' id='guest-register-form'>
            {% url "guest_register" as guest_register_url %}
            <form method='POST' action='{{ guest_register_url }}'> {% csrf_token %}
              <input type='hidden' name='next' value='{{ request.build_absolute_uri }}' />
              <div class='col-12'>
              {{ guest_form }}
              </div>
              <p>Already have an account? <b id='login-btn'>Sign in</b></p>
              <button type='submit' class='btn btn-default' style='width:100%;'>Continue</button>
            </form>
          </div>

          <div class='col-12 col-md-12' id='login-form'>
            <form method='POST' action='{{ guest_register_url }}'> {% csrf_token %}
              <input type='hidden' name='next' value='{{ request.build_absolute_uri }}' />
              <div class='col-12'>
                {{ login_form }}
              </div>
              <p id='guest-register-btn'>Back</p>
              <button type='submit' class='btn btn-default' style='width:100%;'>Continue</button>
            </form>
          </div>

        </div>

  </div>


{% if shipping_address_required %}
  <div class='checkout-info'>
    <div class='col-12' id=>
      <p class='lead'>Shipping Information</p>
      <hr/>
      </div>

        <div class='col-6'>
    {% url "checkout_address_create" as checkout_address_create %}
    {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
    </div>
    <div class='col-6'>
      {% url 'checkout_address_reuse' as checkout_address_reuse %}
      {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}

    </div>
    </div>
    {% endif %}


  <div class='row checkout-info'>
    <div id='payment-info' style='width:100%;'>
      <div class='checkout-row'>
        <div class='checkout-header-title'>
      <h4>Payment Information</h4>
      </div>
      </div>

      <div id='payment-forms' style='width:100%;display:{% if billing_profile %}block{% else %}none{% endif %}'>


        {% if object.billing_address and address_active %}
          <div id='billing-address-display' style='width:100%;'>
            <div class='checkout-row'>
              <div class='checkout-header-title'><b>Billing Address</b></div>
              <div class='checkout-header-edit-btn' id='billing-address-edit-btn'>Edit</div>
            </div>

            <div class='checkout-row'>
              <div class='checkout-item-title'>{{ object.billing_address.address_line_1 }}</div>
            </div>
            {% if object.billing_address.address_line_2 %}
            <div class='checkout-row'>
              <div class='checkout-item-title'>{{ object.billing_address.address_line_2 }}</div>
            </div>
            {% endif %}
            <div class='checkout-row'>
              <div class='checkout-item-title'>{{ object.billing_address.country }}</div>
            </div>
            <div class='checkout-row'>
              <div class='checkout-item-title'>{{ object.billing_address.city }} {{object.billing_address.state }} {{ object.billing_address.postal_code }}</div>
            </div>
          </div>
          {% endif %}

        <div id='billing-address-form' style='width:100%;display:{% if object.billing_address %}none{% endif %}'>
          {% url "checkout_address_create" as checkout_address_create %}
          <div class='checkout-row'>
            <div class='form-input-container full'>
          <!-- {{ address_form.address_line_1 }} -->
          </div>
          </div>
          <!-- {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %} -->
          <form method='POST' action='{{ checkout_address_create }}'> {% csrf_token %}
            <input type='hidden' name='next' value='{{ request.build_absolute_uri }}' />
            <input type='hidden' name='address_type' value='billing'/>
            <div class='checkout-row'>
            {{ address_form.address_line_1 }}
            </div>
            <div class='checkout-row'>
            {{ address_form.address_line_2 }}
            </div>
            <div class='checkout-row'>
              {{ address_form.country }}
            </div>
            <div class='checkout-row'>
              {{ address_form.city }}
              {{ address_form.state }}
              {{ address_form.postal_code }}
            </div>


            <button type='submit' class='btn btn-default'>Submit</button>
          </form>

        </div>



    <!-- <div class='col-6'>
    {% url 'checkout_address_reuse' as checkout_address_reuse %}
    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
    </div> -->

    <hr>
      <div class='checkout-row'>
        <div class='checkout-header-title'><b>Payment Method</b></div>
        <div class='checkout-item-price' id='payment-edit-btn'>Edit</div>
        </div>

      <div id='payment-form'  style='display:{% if not object.billing_address or has_card and card_active %}none{% endif %}'>

        <div class='checkout-row'>
          <div class='checkout-item-title' id='credit-card-btn'>Credit Card</div>
          <div class='checkout-item-price' id='paypal-btn'>Paypal</div>
          </div>


        <div class='row' id='stripe-container'>
          <div class='col-12'>
            <div class='stripe-payment-form' data-token="{{ publish_key }}" data-next-url='{{ request.build_absolute_uri }}' data-btn-title="Add Payment Method"></div>
          </div>
          </div>


          <div class='row' id='paypal-container' style='display:none;'>
          <div class='col-12' >
            <div id="paypal-button-container" class='mx-auto' style=''></div>
          </div>
        </div>

      </div>

      {% if has_card and card_active %}
      <div class='checkout-row' id='payment-display'>
        <div class='checkout-item-title'>
          {{ billing_profile.default_card }}
          </div>
      </div>
      {% endif %}


      </div>

      </div>
      </div>


      <div class='row checkout-info'>
        <div class='checkout-row'>
          <div class='checkout-header-title'><h4>Confirmation</h4></div>
          </div>

          <div id='confirm-purchase' style='width:100%;display:{% if has_card and card_active %}block{% else %}none{% endif %}'>
            <div class='checkout-row'>
              <div class='checkout-item-title'>
                <p>Review your information and purchase</p>
            </div>
            </div>

            <div class='checkout-row'>
              <form class='form' method='POST' action="">{% csrf_token %}
                <button type='submit' class='btn btn-success'>Purchase</button>
              </form>
              </div>
              </div>

          </div>
          </div>



        <!-- <h1>Finalize Checkout</h1>
        <p>Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
        <p>Billing Address: {{ object.billing_address.get_address }}</p>
        <p>PaymentMethod: {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p>
        <p>Cart Total: {{ object.cart.total }}</p>
        <p>Shipping Total: {{ object.shipping_total }}</p>
        <p>Order Total: {{ object.total }}</p>
        <form class='form' method='POST' action="">{% csrf_token %}
          <button type='submit' class='btn btn-success'>Checkout</button>
        </form> -->




<div class='col-12 col-md-6'>
  <div id='checkout-info-cont' class='checkout-info'>
    {% include 'carts/snippets/cart-display.html' with cart=cart_obj %}


    </div></div>
</div>
</div>


<script
    src="https://www.paypal.com/sdk/js?client-id=AUVtF6GSgMI3alWzJ8c96dTtzRijI4739uFTmTkA7faeOAcF039Vn4TMHTmHyO7v5tg7LUosCNBsm2kl">
  </script>

<script src='{% static "js/paypal-stuff.js" %}'></script>
{% endblock %}
