{% load static %}

<!-- navbar js -->
<script src='{% static "js/nav.js" %}'></script>


<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"</script>

<!-- JQuery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<!-- splitcloud js -->
<script src='{% static "js/splitcloud.js" %}'></script>


<!-- Stripe methods js -->
<script src='{% static "js/stripe_stuff.js" %}'></script>

<!-- js Render -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.2/jsrender.min.js"></script>
{% include 'base/js_templates.html' %}


<!-- Django Secure Ajax -->
<script src='{% static "js/csrf.ajax.js" %}'></script>

<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>

<!-- Chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'></script>

<!-- sales graph -->
<script src='{% static "js/splitcloud-sales.js" %}'></script>

<!-- paypal api -->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=AUVtF6GSgMI3alWzJ8c96dTtzRijI4739uFTmTkA7faeOAcF039Vn4TMHTmHyO7v5tg7LUosCNBsm2kl"></script> -->
