<div class='row' style='height:25%'>
  </div>
<div id='middle-content'>
  <div class='checkout-row'>
    <div class='checkout-header-title'>
      <h4>Order Summary</h4>
      </div>
      </div>


  {% for product in cart.products.all %}
  <div class='checkout-row'>
    <div class='checkout-item-title'>
    <a href='{{ product.get_absolute_url }}'>{{ product.title }}</a>
    </div>





    <div class='checkout-item-price'>
    ${{ product.price }}
    </div>
  </div>
  <!-- {% include 'carts/snippets/remove-product.html' with product_id=product.id %} -->
  {% endfor %}

  {% url "cart:apply-discount" as apply_discount_url %}
  <div id='discount-form-container' style='{% if cart_discount %}display:none;{% endif %}'>
    <form class='form' id='discount-form' method='POST' action='.' data-endpoint='{{ apply_discount_url }}'> {% csrf_token %}
      <span class='input-span'>
      {{ discount_form }}
      </span>
      <div class='btn-cont'>
      <button id='discount-submit-btn' type='submit' class=''>Submit</button>
      </div>
      </form>

      </div>
      <div id='discount-form-messages'></div>
  <div class='checkout-row'>
  <div class='checkout-item-title'>Subtotal</div>
  <input id='cart-total-hidden' type='hidden' total='{{ cart.total }}'>
  <div class='checkout-item-price'>${{ cart.subtotal }}</div>
  </div>

  <div class='checkout-row'>
  <div class='checkout-item-title'>Discount</div>
  <div id='discount-amount' class='checkout-item-price'>- ${{ discount_amount }}</div>
  </div>

  <div class='checkout-row'>
  <div class='checkout-item-title'><b>Total</b></div>
  <div id='cart-total' class='checkout-item-price'><b>${{ cart.total }}</b></div>
  </div>

  </div>

  <!-- <div class='row' style='height:25%'>
    <div class='col-6'>
      <a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a>
      </div>

      <div class='col-6'>
        <a class='btn btn-lg btn-success' href='#'>PayPal</a>
        </div> -->
