{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Base Template</title>
    <link rel='stylesheet' href="{% static 'css/new.css' %}">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <script src='{% static "js/new_home.js" %}'></script>

    {% block base_head %}{% endblock %}
  </head>

  <body>
    <div class='header'>
      </div>

<div class='cont'>
  <div class='first'>

  <div class='nav-item'>Beats</div>
  <div class='nav-item'>Tools</div>
  <div class='nav-item'>Services</div>
  <div class='nav-item'>About</div>
  <div class='nav-item'>Contact</div>
  <div class='nav-item'>Account</div>
</div>

<div class='second'>
<div id='viewport'>
  <div id="visualiser-cont">
  <canvas id='visualiser'></canvas>
</div>
  <div id='product-modal'>
    <div class='row'>
    <span id="close">&times;</span>
  </div>
    <div class='row'>
      <div class='col-4'>
        <div class='lease-btn' id='standard' beat-id=''>
          <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}>{% csrf_token %}
            <input class='product-form-input' type='hidden' name='product_id' value='8' {% if product.is_digital %}data-is-digital='true'{% endif %}/>
            <span class='submit-span'>
            {% if product in cart.products.all %}
              <div class='btn-group'><a class='btn btn-link' href='/cart/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
              {% else %}
                <button type='submit' class='btn btn-success'>Add to cart</button>
              {% endif %}
              </span>

          </form>
        </div>
      </div>

      <div class='col-4'>
        <div class='lease-btn' id='trackout' beat-id=''>
          <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}>{% csrf_token %}
            <input class='product-form-input' type='hidden' name='product_id' value='8' {% if product.is_digital %}data-is-digital='true'{% endif %}/>
            <span class='submit-span'>
            {% if product in cart.products.all %}
              <div class='btn-group'><a class='btn btn-link' href='/cart/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
              {% else %}
                <button type='submit' class='btn btn-success'>Add to cart</button>
              {% endif %}
              </span>

          </form>
        </div>
      </div>

      <div class='col-4'>
        <div class='lease-btn' id='premium' beat-id=''>
          <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}>{% csrf_token %}
            <input class='product-form-input' type='hidden' name='product_id' value='8' {% if product.is_digital %}data-is-digital='true'{% endif %}/>
            <span class='submit-span'>
            {% if product in cart.products.all %}
              <div class='btn-group'><a class='btn btn-link' href='/cart/'>In cart</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
              {% else %}
                <button type='submit' class='btn btn-success'>Add to cart</button>
              {% endif %}
              </span>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div id='controls-wrapper'>

<div id='seekbar-container'>
  <div id='slide-container'>
    <div id='slider'>
      </div>
      </div>
      </div>

<div id='controls' class='mx-auto'>
  <div id='back-btn'></div>
  <div id='play-pause-btn'></div>
  <div id='fwd-btn'></div>
  </div>



        </div>

    </div>


  <div class='third'>
    <div id='beat-header'>
      <h2>Beats</h2>
    </div>
    <div id='beat-content'>
      {% for obj in object_list %}
      <div class='beat-item' beat='{{ obj.get_aws_url }}' title='{{ obj.title }}'>
        <div class='beat-row'>
          <div class='beat-pic'><a class='play-track-btn' beat='{{ obj.get_aws_url }}' style='margin-right: 7px;'><img src='{{ obj.thumbnail.url }}'></a>
            {{ obj.title }}
          </div>




          <!-- <div class='beat-type'>
            {{ obj.standard.id }}
            </div> -->

          <div class='beat-cart'>
            <div class="beat-modal-btn" standard='{{ obj.standard.id }}' trackout='{{ obj.trackout.id }}' unlimited='{{ obj.unlimited.id }}'><p>O</p>

            </div>
          </div>
            </div>

          </div>
          <hr>

          {% endfor %}
      </div>
    </div>

</div>

<div class='footer'>
  <h2 id='playlist-status'></h2>
  </div>

  </body>

  </html>
